body {
  margin: 0;
  padding: 0;
  background-image: url("../public/img/iconos/diseñoCaja.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

:root {
  --clr-main: #e0bc88;
  --clr-main-dark: #6e4914;
  --clr-white-transparent: rgba(248, 244, 244, 0.8);
  --clr-white-transparent-more: rgba(248, 244, 244, 0.9);
  --clr-gray-light: rgb(117, 117, 117);
  --clr-gray-: rgb(58, 58, 58);
  --clr-gray-dark: rgb(29, 28, 28);
  --clr-fucsia: #c34262;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
  color: var(--clr-fucsia);
}

.main-title {
  margin-top: 2rem;
}
