.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button,
.agregar-al-carrito {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(58, 58, 58);
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid;
  transition: 0.2s;
}

.item-count button:hover,
.agregar-al-carrito:hover {
  background-color: var(--clr-main);
  color: rgb(58, 58, 58);
}

.agregar-al-carrito {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
}
